{% assign post = include.post %}
{% assign PLACEHOLDER_SRC = 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' %}
<a href="{{ post.url | relative_url }}" {% if include.target %}target="{{ include.target }}"{% endif %}>
    <div class="post-preview {{ post.previewStyle }}{% if post.blurImage %} blurred{% endif %}{% if post.previewCols %} cols-{{ post.previewCols }}{% endif %}">
        {% if post.image %}
            {% capture src %}{{ post.image | relative_url }}{% endcapture %}
            {% if lazyload %}
            <img class="lazyload{% if post.blurImage %} blur-bg{% endif %}" src="{{ src }}" srcset="{{ PLACEHOLDER_SRC }}" data-srcset="{{ src }}" />
            {% else %}
            <img class="{% if post.blurImage %} blur-bg{% endif %}" src="{{ src }}" />
            {% endif %}
        {% endif %}

        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="inner thumb-header">
            <div>
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <h3>{{ post.title | escape }}</h3>
            </div>
        </div>
    </div>
</a>