---
---

@import "socialbuttons";

#header {
    background: #283039 !important;
}

.article {
    header > nav {
        margin-bottom: 1.75em;
    }
    .post-meta {
        margin-top: -0.5em;
        /*margin-bottom: 2em;*/
        margin-bottom: 1.8em;
        font-size: 1.2em;
        line-height: 1.25em;
        span, time {
            margin-top: 0.75em;
        }
        .section-label {
            margin-top: -0.5em;
            margin-right: 0;
        }
        .timestamp {
            margin-right: 0.45em;
            margin-left: 0.75em;
            display: inline-block;
        }

        .author {
            display: block;
            font-style: italic;
            font-weight: 600;
            float: right;
            /*margin-left: 2.25em;*/
            font-size: 1em;
            &:first-of-type {
                margin-top: 1.5em;
            }
            &:last-of-type {
                margin-bottom: 1em;
            }
        }
    }
    h1 {
        color: inherit;
        font-size: 2em;
        text-align: center;
    }
    &:not(.noindent) p > img {
        margin-left: -2.25em;
    }

    code.language-poetry, code.lang-poetry {
        background: none;
        border-radius: none;
        font-family: inherit;
        font-size: 100%;
        letter-spacing: inherit;
        margin: 0;
        padding: 0;
    }
    
    pre {
        font-size: 1.2em;
        line-height: 1.75em;
        margin-bottom: 1.5em;
        font-family: inherit;
    }
}
  
.preview-grid {
    opacity: 0;
    transition: 1s opacity;
    &.ready {
        opacity: 1;
    }

    > a {
        display: block;
        border: 0;
    }
}
  
  /*        .post-preview {
      position: relative;
  }*/
  
.post-preview {
    // max-width: calc(33% - 4px);
    overflow: hidden;
    position: relative;

    .inner {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        top: 0;

        > div {
            text-align: center;
            padding: 1em;
            font-size: 2em;
            z-index: 2;
        }
    }
    .thumb-header {
        padding: 1em;
        > .textFitted {
            padding: 0.5em;
        }
    }
    h3 {
        line-height: 1.25em;
        color: inherit !important;
        margin-bottom: 0;
    }

    /* &.cols-1 {
        max-width: calc(33% - 4px);
    }
    &.cols-2 {
        max-width: calc(66% - 8px);
    }
    &.cols-3 {
        max-width: 100%;
    } */

    img {
        height: auto;
        width: 100%;
        position: relative !important;
        z-index: inherit !important;
        /*position: absolute;
        height: 100%;
        width: auto;*/

        &.blur-bg {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
    &.blurred {
        margin-bottom: 0.5em;
    }
    &.light {
        color: #fff;
        &.blurred .thumb-header {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    &.dark {
        color: #283039;
        &.blurred .thumb-header {
            background-color:  rgba(255, 255, 255, 0.5);
        }
    }
}

#blog-preview {
    display: flex;
    height: 18rem;
    flex-wrap: wrap; 
    padding: 0 1rem;
    margin: 1rem 0;
    a {
        // width: 33%;
        flex: 1;
        min-width: 18rem;
        border: 0;
        text-decoration: none;
        height: 100%;
        padding: 0.7rem;
        margin-bottom: 100%;
        // border: 1rem solid #fff;
    }
    .post-preview {
        height: 100%;
    }
    .post-preview img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        @supports not (object-fit: cover) {
            height: 100%;
            width: unset;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            left: 50%;    
        }
    }
    // small
    // @media screen and (max-width: 736px) {
    //     a {
    //         width: 50%;
    //         &:last-child {
    //             display: none;
    //         }
    //     }
    // }
}

.rss-subscribe {
    margin-top: 4em;
}

// style the admin ui preview
.frame-content {
    // HACK: hide the teaser image
    > div:first-of-type > div > div > img {
        display: none;
    }
}
  
/*
// medium
@media screen and (max-width: 980px) {
    .post-preview {
        &.cols-1, &.cols-2 {
            max-width: calc(50% - 6px);
        }
    }
}

// small
@media screen and (max-width: 736px) {
    .article {
        margin-top: 1.5em;
        pre {
            font-size: 1.1em;
        }
    }
}
*/

// // xsmall
// @media screen and (max-width: 480px) {
//     .post-preview {
//         max-width: 100% !important;
//     }
// }

.nudge-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end !important;
    > .spacer {
        flex-grow: 1;
    }

    &.reverse {
        flex-wrap: wrap-reverse;
    }
}