<!DOCTYPE HTML>
<html>
	{% include head.html %}
	<body>
		<div class="issue-page-wrapper other">
			<header id="header">
				<h1><a href="/">MVMENT</a></h1>
				<nav id="nav">
					<ul>
						<li class="special">
							<a href="#menu" class="menuToggle"><span>Menu</span></a>
							<div id="menu">
								<ul>
									<li><a href="/index.html">Home</a></li>
									<li><a href="/issues/"><b>Issues</b></a></li>
									<li><a href="/blog/"><b>Blog</b></a></li>
									<li><a href="/about.html">About Us</a></li>
									<li><a href="/letter.html">Letter From the Editors</a></li>
									<li><a href="/involved.html">Getting Involved</a></li>
									<li><a href="/faq.html">FAQ</a></li>
									<li><a href="/contact.html">Contact Us</a></li>
									<a href="/submit.html" class="button cta fit special">
										<i class="icon fa-caret-right"></i> Submit now <i class="icon fa-caret-left"></i>
									</a>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</header>

			{{ content }}

			<footer id="footer">
				<ul class="icons">
					<li><a href="/index.html" class="icon fa-home"><span class="label">Home</span></a></li>
					<li><a href="/contact.html" class="icon fa-envelope-o"><span class="label">Contact</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy;MVMENT Magazine</li><li>Design sparked by <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>

		</div>

	<!-- Scripts -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.scrollex.min.js"></script>
		<script src="/assets/js/jquery.scrolly.min.js"></script>
		<script src="/assets/js/skel.min.js"></script>
		<script src="/assets/js/fecha.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
		<!-- <script src="/assets/js/marked.min.js"></script>
		<script src="/assets/js/results.js"></script> -->
		<script src="/assets/js/main.js"></script>
	</body>
</html>