---
layout: default
---

<article id="main">
    <header style="padding: 8em 0 5em">
        <h2><i>MVMENT</i> Blog</h2>
    </header>
    <section class="wrapper style2">
        <div class="inner">
            {%- if site.posts.size > 0 -%}
            <div class="preview-grid">
                {% assign posts = site.posts | sort: 'date' %}
                {%- for post in posts reversed limit: 20 -%}
                <a href="{{ post.url | relative_url }}">
                    <div class="post-preview {{ post.previewStyle }} {% if post.blurImage %}blurred{% endif %} {% if post.previewCols %}cols-{{ post.previewCols }}{% endif %}">
                        {% if post.image %}
                            <img {% if post.blurImage %}class="blur-bg"{% endif %} src="{{ post.image | relative_url }}" />
                        {% endif %}
                        <div class="inner thumb-header">
                            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                            <div>
                                <span class="post-meta">{{ post.date | date: date_format }}</span>
                                <h3>{{ post.title | escape }}</h3>
                            </div>
                        </div>
                    </div>
                </a>
                {%- endfor -%}
            </div>

            <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
            {%- endif -%}
        </div>
    </section>
</article>

<script src="assets/textFit.min.js"></script>
<script src="assets/masonry.pkgd.min.js"></script>
<script src="assets/imagesloaded.pkgd.min.js"></script>
<script>
window.onload = function() {
    var masonry = new Masonry('.preview-grid', {
        itemSelector: '.post-preview',
        columnWidth: '.post-preview',
        gutter: 10,
    });
    imagesLoaded($('.preview-grid').get(0), function() {
        masonry.layout();
    });
    $('.preview-grid').addClass('ready');

    function resizeText() {
        textFit(document.getElementsByClassName('thumb-header'), {
            alignHoriz: true,
            alignVert: true,
            alignVertWithFlexbox: true,
            maxFontSize: 36,
            horizontalOrder: true,
        });
    }
    $(window).on('resize orientationchange', resizeText);
    resizeText();
};
</script>