---
layout: default
---

<article id="main">
    <section class="wrapper style2 sticky" style="background-color: #000;">
        <div class="inner">
            <header>
                <p><b>Trigger Warning</b> &bull; The writing, imagery, and other forms of expression below may contain explicit descriptions of rape, sexual assault, relationship abuse and other forms of personal violation.</p>
            </header>
        </div>
    </section>
    <header class="compact" style="color: black !important">
        <h2><i>MVMENT</i> Blog</h2>
        <h3>Recent Highlights</h3>
    </header>

    <section class="wrapper style5">
        <div class="inner">
            {%- if site.posts.size > 0 -%}
            <div class="preview-grid">
            {% assign posts = site.posts | sort: 'date' | reverse %}
            {%- for post in posts -%}
                {% include post-preview.html post=post %}
            {%- endfor -%}
            </div>

            <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
            {%- endif -%}
        </div>
    </section>
</article>

{% contentfor vanilla_scripts %}
<script src="assets/js/lib/lazysizes.min.js"></script>
<script src="assets/js/lib/textFit.min.js"></script>
<script src="assets/js/lib/macy.min.js"></script>
<script>
window.BlogLandingLayout = (function() {
    var containerSel = '.preview-grid';
    var macyOptions = {
        container: containerSel,
        trueOrder: true,
        waitForImages: false,
        margin: 10,
        columns: 3,
        breakAt: { 980: 2 },
    };
    var textFitOptions = {
        alignHoriz: true,
        alignVert: true,
        minFontSize: 12,
        maxFontSize: 36,
        horizontalOrder: true,
    };

    var macyLayout;
    function initMacy() {
        macyLayout = Macy(macyOptions);

        var thumbHeaders = document.getElementsByClassName('thumb-header');

        // var recalculatedYet = false;
        macyLayout.container.classList += ' ready';
        macyLayout.on(macyLayout.constants.EVENT_RECALCULATED, function resizeText() {
            textFit(thumbHeaders, textFitOptions);

            // if (!recalculatedYet) {
            //     recalculatedYet = true;
            //     setTimeout(function() {
            //         macyLayout.container.classList += ' ready';
            //     }, 1000);
            // }
        });
    }

    function recalculate(refresh) {
        macyLayout.recalculate(refresh);
    }

    return {
        containerSel: containerSel,
        init: initMacy,
        recalculate: recalculate,   
    };
})();
</script>
{% endcontentfor %}

{% contentfor lib_scripts %}
<!-- <script src="assets/js/lib/imagesloaded.pkgd.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.waitforimages/1.5.0/jquery.waitforimages.min.js"></script> -->
<script>
$(function() {
    BlogLandingLayout.init();
    // $(BlogLandingLayout.containerSel).waitForImages(BlogLandingLayout.init);
});
$(window).on('resize orientationchange', function() {
    BlogLandingLayout.recalculate();
});
$(BlogLandingLayout.containerSel).find('img.lazyload').on('load', function() {
    BlogLandingLayout.recalculate(true);
});
</script>
{% endcontentfor %}

<!-- <script>
 window.onload = function() {
    var masonry = new Masonry('.preview-grid', {
        itemSelector: '.post-preview',
        columnWidth: '.post-preview',
        gutter: 10,
        // resize: !('textFit' in window),
    });
    imagesLoaded($('.preview-grid').get(0), function() {
        masonry.layout();
    });
    $('.preview-grid').addClass('ready');

    function resizeText() {
        textFit(document.getElementsByClassName('thumb-header'), {
            alignHoriz: true,
            alignVert: true,
            maxFontSize: 36,
            horizontalOrder: true,
        });
        masonry.layout();
        setTimeout(masonry.layout.bind(masonry), 100);
        setTimeout(masonry.layout.bind(masonry), 1000);
    }
    $(window).on('resize orientationchange', resizeText);
    resizeText();
};
</script> -->