---
layout: default
---

<!-- <header style="padding: 8em 0 7em">
	<div class="blur-bg"><img src="https://unsplash.it/300"></div>
	<h2>{{ page.title }}</h2>
</header> -->
<article class="content-block article {{ page.style }}">
	<div class="wrapper">
		<div class="inner">
			<header>
				<nav>
					<a href="{{ site.baseurl }}/" class="navlink">&larr; all posts</a>
				</nav>
				<h1>{{ page.title }}</h1>
			</header>
			<section>
				{% include socialbuttons.html %}
				{% include post-meta.html %}
				{{ content }}
				{% include socialbuttons.html %}
			</section>
		</div>
	</div>
</article>

